#contents_box {

}
.row {
  width: 600px;
  margin: 64px auto;
  .col {
    min-width: 600px;
    .card {
      margin: 0 auto;
      font-family: 'Sawarabi Mincho', sans-serif;
      .card-image {
        .card-title {
          font-size: 3.5em;
          -webkit-text-stroke: 2px #000;
        }
        .show-img{
          width: 600px;
          height: 400px;
          object-fit: cover;
        }
      }
      .card-action {
        padding-right: 10px;
        ul {
          li {
            float: right;
            i {
              color: #d50000 ;
            }
          }
        }
      }
    }
  }
}
